/* Style sheet from index.html and gtlf.html
This is used because of the differences needed for the full screen style.*/
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');
html,
body {
  font-family: 'Mochiy Pop One', sans-serif;
  margin: auto;
  background-image: url("images/scene.png");
  background-color: rgba(0, 0, 0, 0.5);
  /* background-image: url("images/background1.jpg"); */
  /* background-repeat: no-repeat;
	/* Set a specified height, or the minimum height for the background image */
  min-height: 500px;
  /* Set background image to fixed (don't scroll along with the page) */
  background-attachment: fixed;
  /* Center the background image */
  background-position: center;
  /* Set the background image to no repeat */
  background-repeat: no-repeat;
  /* Scale the background image to be as large as possible */
  background-size: cover;
}

.menu {
  margin-bottom: 1vh;
  margin-left: 1vh;
}

.menu li {
  float: left;
  padding-right: 10px;
  font-size: 0.9em;
  font-family: 'Galada', cursive;
  list-style-type: none;
}

.menu li a {
  color: #fde2ea;
  text-decoration: none;
}

.menu li a:hover {
  color:#6a58f3;
  transition: 0.3s;
  text-decoration: underline;
}

h1 {
  font-style: bold;
  color: white;
  text-align: center;
  font-size:50px;
  padding-top: 120px;
  padding-bottom: 50px;
}

h2 {
  color: white;
  text-align: center;
  padding-bottom: 20px;
  font-size: 36px;
}

p {
  width: 50%;
  font-weight: 500;
  padding: 0px;
  padding-left: 25%;
  padding-bottom: 20px;
  line-height: 150%;

}

p.move-mid {
  padding-left: 0%;
  text-align: center;
  margin: auto;
  color: white;
}

a {
  color: white;

}

a:hover {
  color:#fab8ca;
  transition: 0.3s;
  text-decoration: underline;
}

/*Styles for the overlay*/
/* #blocker {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
} */
/*
#instructions {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  font-size: 18px;
  cursor: pointer;
} */
